html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  font-size: 30px;
  margin: 20px 0;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #1fff43;
  color: #000000;
  border: none;
  cursor: pointer;
  corner-shape: squircle;
  border-radius: 40px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  color: white;
  background-color: #24a93a;
}

ul#jokeList {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  padding: 20px;
  margin-bottom: 30px;
}

.joke-list span {
  font-size: 16px;
  color: #202021;
  line-height: 1.3em;
}

li.joke-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #9E9E9E;
  corner-shape: squircle;
border-radius: 40px;
}